@font-face {
  font-family: "font-regular";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "font-bold";
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

body {
  font-family: "font-regular", sans-serif;
}
h2 {
  font-family: "font-bold", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  border-bottom: 3px solid #f9f9f9;
  width: 100%;
}
.img {
  width: 35%;
}
nav {
  font-family: "font-bold", sans-serif;
  width: 30%;
  height: 100%;
}
ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-btn {
  border: 2px solid #2d96c8;
  color: #2d96c8;
  width: 120px;
  height: 30px;
  border-radius: 50px;
}
.second-btn {
  border: 2px solid transparent;
  border-radius: 50px;
  background: #2d96c8;
  color: white;
  width: 120px;
  height: 30px;
}
.first-container {
  height: 230px;
  display: flex;
}
.left-part-inner-first-container {
  height: 100%;
  width: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-left: 150px;
}
.left-part-inner-first-container,
h2,
.pcolored {
  font-family: "font-bold", sans-serif;
  font-size: 25px;
  text-align: left;
}
.colored {
  color: #ef5466;
}
.btn {
  display: flex;
  gap: 15px;
  margin-right: 160px;
}
.btn button {
  border: 1px solid transparent;
  width: 140px;
  height: 40px;
  border-radius: 50px;
}
button.colored {
  background: #ef5466;
  color: white;
}
button.fifth-btn {
  border: 1px solid black;
}
.right-part-inner-first-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-container {
  background: #f9f9f9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-part-second-container {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-part-second-container {
  width: 58%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

h3 {
  font-family: "font-bold", sans-serif;
}
div {
  height: 100%;
  width: 580px;
  display: flex;
  flex-wrap: wrap;
}
.txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 45%;
  height: 50%;
}
.third-container {
  width: 100%;
  height: 85px;
  background: #ef5466;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-first-footer {
  height: 60px;
  width: 25%;
}
.txt-first-footer {
  color: rgb(255, 243, 243);
  width: 50%;
}
.txt-first-footer p {
  width: 80%;
  margin-top: 5px;
}
.fourth-container {
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 30px;
  height: 780px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.boxes-fourth-container {
  height: 700px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 24%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border: 2px solid transparent;
  margin: 5px;
  color: #8e8e94;
  box-shadow: -4px -4px 5px 0px rgba(209, 208, 208, 0.75);
  -webkit-box-shadow: -4px -4px 5px 0px rgba(209, 208, 208, 0.75);
  -moz-box-shadow: -4px -4px 5px 0px rgba(209, 208, 208, 0.75);
}
.box-Two {
  width: 24%;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  box-shadow: -4px -4px 5px 0px rgba(209, 208, 208, 0.75);
  -webkit-box-shadow: -4px -4px 5px 0px rgba(209, 208, 208, 0.75);
  -moz-box-shadow: -4px -4px 5px 0px rgba(209, 208, 208, 0.75);
  color: #8e8e94;
  margin: 5px;
  font-size: "font-bold";
}
.blue {
  background: #2d96c8;
  color: #f9f9f9;
}

.box-Two ul {
  display: flex;
  flex-direction: column;
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.head h3,
.head p {
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.list li {
  margin: 10px;
}
.bottom p,
.bottom button {
  text-align: center;
  margin: 5px;
}
.bottom button {
  width: 170px;
  height: 40px;
  margin-left: 25px;
  border-radius: 50px;
  border: 1px solid transparent;
  color: #f9f9f9;
  background: #ef5466;
}
.pblue {
  color: #2d96c8;
  font-size: "font-bold";
}
.bright {
  color: #ebebeb;
}
h6 {
  color: #8e8e94;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;
}
.fifth-container {
  height: 350px;
}
.first-box-fifth-container,
.second-box-fifth-container,
.third-box-fifth-container {
  background: #f9f9f9;
  height: 85px;
  margin-bottom: 5px;
}
.first-box-fifth-container h3,
.second-box-fifth-container h3,
.third-box-fifth-container h3 {
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 50px;
}
.first-box-fifth-container p,
.second-box-fifth-container p,
.third-box-fifth-container p {
  margin-bottom: 10px;
  margin-left: 50px;
}

span {
  color: #ef5466;
}
.first-box-fifth-container {
  display: flex;
  justify-content: space-between;
}
.second-grey-box {
  display: flex;
  flex-direction: column;
}
.grey-boxes-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.second-box-fifth-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.third-grey-box-btn button,
.grey-boxes-btn button,
.second-grey-box-btn button {
  height: 50px;
  width: 170px;
  border-radius: 100px;
}

.second-grey-box-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.third-box-fifth-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.third-grey-box-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
